# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask config & temporary files
instance/
.webassets-cache
.env
.flaskenv

# Log files
*.log
pip-log.txt

# Testing & Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook & Editor backups
.ipynb_checkpoints
*.swp
*.swo
*~

# Operating System Files
.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# IDEs & Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Virtual Environments
.venv/
venv/
ENV/
env/
active_env/
